@model CST_356_Week_7_Lab.Models.UserViewModel

@{
    ViewBag.Title = "Details";
}

<div class="card" id="title-card">
    <h4 class="card-header bg-info text-light">Student</h4>
    <dl class="dl-horizontal card-body">
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MiddleName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MiddleName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.YearsInSchool)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.YearsInSchool)
        </dd>

    </dl>
</div>
<div class=" btn btn-group" style="padding-left:0px">
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }, new { @class = "btn btn-info" })
    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-info" })
</div>
