@model IEnumerable<CST_356_Week_7_Lab.Models.ClassViewModel>
@{
    ViewBag.Title = "Classes";
}
<div class="card bg-dark text-light" id="title-card">
    <div class="row">
        <h2 class="col-md-10" id="title-card-header">Classes</h2>
        <div class="col-md-2" id="title-card-button">
            @Html.ActionLink("Create New", "Create", "Class", new { userID = ViewBag.userID }, new { @class = "btn btn-info btn-lg " })
        </div>
    </div>
</div>
<table class="table table-striped table-hover table-bordered">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CRN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ClassName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Instructor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserID)
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CRN)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClassName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Instructor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserID)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ID }, new { @class = "btn btn-outline-warning btn-sm" }) |
                @Html.ActionLink("Details", "Details", new { id = item.ID }, new { @class = "btn btn-outline-info btn-sm" }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ID }, new { @class = "btn btn-outline-danger btn-sm" })
            </td>
        </tr>
    }
</table>
